.title {
    color: rgb(179, 172, 157);
    text-align: center;
}

.animate-charcter
{
  
  background-image: linear-gradient(
    -225deg,
    rgb(182, 174, 159) 29%,
    rgb(105, 31, 31) 67%,
    rgb(177, 105, 48) 100%
  );
  margin-left: 9%;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
  font-size: 6em;
 
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}